@model IEnumerable<TareaWeb1.Models.Contact>

@{
    ViewBag.Title = "Contacts";
}

<h3 class="bg-primary panel-heading">Contactos</h3>

<p>
    <a href="@Url.Action("Create","Home", new { id = 0})" class="btn btn-success">Agregar Contacto</a>
</p>
<table class="table table-bordered table-hover">
    <tr class="bg-info">
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>Acciones</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            
            <a href="@Url.Action("Update","Home", new { id = item.ContactsId })" class="btn btn-success">Editar</a>
            <a href="@Url.Action("Delete","Home",new { id = item.ContactsId})" class="btn btn-danger">Borrar</a>
        </td>
    </tr>
}

</table>

<a href="@Url.Action("Index","Home")" class="btn btn-warning">Logout</a>
